.back {
    background: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 723px;
        
}
.nav {
    padding-top: 50px;
    text-align: center;
}
.home {
    padding: 10px;
    color: whitesmoke;
    font-weight: bold;
    border-radius: 25px;
    background-color: black;  
}
.home:hover {
    border-radius: 25px;
    background-color: ghostwhite;
    color: black;  
    
}
.kati {
    text-align: center;
}
.diff {
    background-color: black;
    height: 100px;
}
.navi {
    text-align: center;
    padding-top: 40px;
}
.he {
    text-align: center;
    padding: 20px;
}
.he:hover {
    border-radius: 50px;
    background-color: black;
    color: yellow;
}
a {
    color: whitesmoke;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}
.text {
    font-family: 'Lato', sans-serif;
    color: #E5E8E8;
    text-align: center;
    padding-top: 300px;
}
.btnn {
    text-align: center;
    padding-top: 50px;
}
.btn {
    border-radius: 30px;
    border: solid 2px black;
    padding: 9px;
    text-align: center;
    background-color: black;
    color: white;
    opacity: 0.;
    font-weight: bold;
}
.btn:hover {
    opacity: 1.0;
    font-weight: bold;
    background-color: whitesmoke;
    color: black;
}
.h1 {
    font-size: 80px;
}
.h5 {
    font-size: 40px;
}