.contac {
    background-color: #17202A;
    color: whitesmoke;
}
/*.divi {
    display: inline-block;
    width: 39%;
}
.divii {
    display: inline-block;
    width: 60%;
}*/
.back {
    background: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 723px;
        
}
.nav {
    padding-top: 50px;
    text-align: center;
}
.home {
    padding: 10px;
    color: whitesmoke;
    font-weight: bold;
    border-radius: 25px;
    background-color: black;  
}
.home:hover {
    border-radius: 25px;
    background-color: ghostwhite;
    color: black;  
    
}
.kati {
    text-align: center;
}
.diff {
    background-color: black;
    height: 100px;
    
}
.navi {
    text-align: center;
    padding-top: 40px;
    
}
.he {
    text-align: center;
    padding: 20px;
    
}
.he:hover {
    border-radius: 50px;
    background-color: black;
    color: yellow;
}
.biggie {
    margin-left: 80px;


}
a {
    color: whitesmoke;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}
.text {
    font-family: 'Lato', sans-serif;
    color: #E5E8E8;
    text-align: center;
    padding-top: 300px;
}
.btnn {
    text-align: center;
    padding-top: 50px;
}
.btn {
    border-radius: 30px;
    border: solid 2px black;
    padding: 9px;
    text-align: center;
    background-color: black;
    color: white;
    opacity: 0.;
    font-weight: bold;
    
}
.h1 {
    font-size: 80px;
}
.h1-cont {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: 60px;
    color: white;
    background-color: #17202A;
    padding-top: 15px;
    border-bottom: solid 1px whitesmoke;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}
.fom { 
  width: 30%;
  cursor: pointer;
  font-weight: 400;
  border: 1px solid #c6c9cc;
  border-radius: 5px;
  color: #888;
  display: block;
  margin: 5px 0 27px 0;
  padding: 5px 8px;

}
.fomu {
  width: 30%;
  height: 80px;
  cursor: pointer;
  font-weight: 400;
  border: 1px solid #c6c9cc;
  border-radius: 5px;
  color: #888;
  display: block;
  margin: 5px 0 27px 0;
  padding: 5px 8px;
}
.inf {
    background-color: #17202A;
    color: whitesmoke;
    text-align: center;
    font-size: 20px;
    letter-spacing: normal;
    padding-top: 20px;
    font-weight: 500;
    padding-bottom: 20px;
}
.btnt {
    border: solid 1px whitesmoke;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #17202A;
    color: white;
    font-family: 'Lato' , sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 800;
}
.big {
    width: 100%;
    background-color: #17202A; 
    height: 80px;
}

.h5 {
    font-size: 40px;
}